{% extends 'userzone/base_guest.html' %} 
{% load helper_base_template %}
{% load static %}
{% block scrlink %}
<link rel="stylesheet" href="{% static 'userzone/highlight/styles/default.css' %}">

{% endblock %}

{% block scrscript %}
<script src="{% static 'userzone/highlight/highlight.pack.js' %}"></script>

<script>hljs.initHighlightingOnLoad();</script>
<script>   
    function saveTextAsFile()
    {
        var textToWrite = `{{str_content}}`
        var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'});
        var fileNameToSaveAs = `{{paste.short_link}}`

        var downloadLink = document.createElement("a");
        downloadLink.download = fileNameToSaveAs;
        downloadLink.innerHTML = "Download File";
        if (window.webkitURL != null)
        {
            // Chrome allows the link to be clicked
            // without actually adding it to the DOM.
            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        }
        else
        {
            // Firefox requires the link to be added to the DOM
            // before it can be clicked.
            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
        }

        downloadLink.click();
    }
    function clickToCopy() {
        var copyText = document.getElementById("click_to_copy");
        copyText.select();
        document.execCommand("Copy");        
    }
</script>
{% endblock %}
{% block headercontent %}

{% endblock %} 
{% block maincontent %}
<section class="content">
    <div class="row">
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Review Code</h3>
                    <div class="box-tools pull-right">
                        <a type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ><i class="fa fa-share"></i></a>
                        <a type="button" class="btn btn-default" onclick="saveTextAsFile()"><i class="fa fa-download"></i></a>
                    </div>
                </div>
                             
                <div class="box-body">  
                    <pre>
                        <code id="target_download" class="{{paste.type_content_paste}}">{{ content_paste }}</code>
                    </pre> 
                </div>
                <div class="box-footer">
                    <a href="{% url 'create_paste_guest_template' %}" class="btn btn-primary">Back</a>           
                </div>                     
                
            </div>
        </div>
        <div class="col-md-2">
                {% Public_Pastes %}
        </div>
            
    </div>
    <!-- Share popup -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
        
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Link Share</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group input-group-sm" style="width: 200px;">            
                        <input type="text" id="click_to_copy" class="form-control" value="{{paste.short_link}}" readonly>                  
                        <div class="input-group-btn">
                            <button onclick="clickToCopy()" class="btn btn-default" ><i class="fa fa-copy "></i></button>
                        </div>                            
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
        </div>
    </div>
</section>

{% endblock %}
