{% extends 'userzone/base.html' %}

{% block headercontent %}
<section class="content-header">
  <h1>
    {{ title }}

    <small>{{ sub_title }}</small>
  </h1>
</section>
{% endblock %}

{% block maincontent %}
<section class="content">
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Accept delete</h3>
    </div>
    
    <form method="POST" role="form">  
        {% csrf_token %}   
        <div class="box-body">  
            <div class="form-group">
                <label>Paste Name</label>
                <input class="form-control" placeholder="{{paste.paste_name}}" disabled="" type="text">
            </div>
            <div class="form-group">
                <label>Paste URL</label>
                <input class="form-control" placeholder="{{paste.short_link}}" disabled="" type="text">
            </div> 
        </div>             
        <div class="box-footer">
            <button type="submit" class="btn btn-danger">Submit</button>
            <a href="{% url 'list_paste_template' %}" class="btn btn-primary">Back</a>
        </div>
    </form>
</div>
</section>
{% endblock %}
