{% load static %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{% static 'userzone/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image"> 
        {% if is_authenticated %}
        <span class="hidden-xs">{{username}}</span>
        {% else %}
        <span class="hidden-xs">GUEST</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu">
        {% if is_authenticated %}
        <!-- User image -->
        <li class="user-header">
            <img src="{% static 'userzone/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            <p>
                Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
            </p>
        </li>
        <!-- Menu Body -->
        <!-- <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>                  
            </li> -->
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="{% url 'logout_view' %}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
        {% else %}
        <li class="user-footer">

            <a href="{% url 'login_view' %}" class="btn btn-default btn-flat">Login</a>

        </li>
        {% endif %}
    </ul>
</li>